<div class="header" data-role="header" >
    <a class="ui-btn ui-btn-b    ui-corner-all ui-icon-arrow-l ui-btn-icon-notext ui-shadow-icon atras"  data-direction="reverse">Plus</a>
    <h1> Acerca de</h1>
</div>
<div class="content" style="color:#2B303F; padding: 0 1em;">
    <h2>Transmetro App</h2>
    <p>
        Version: 1.0
    </p>
    
    
    <img class="img_entidad"src="images/logo_transm.png" alt=""/>
    <img class="img_entidad"src="images/logo_mintic.png" alt=""/>
    <p>Tenga en cuenta que esta aplicación requiere acceso a internet y puede consumir recursos de su plan de datos.</p>

    <h4>Autores</h4>
    <ul>
        <li>Andres Fabian Corredor</li>
        <li>Diana Carolina Sanchez</li>
        <li>Jorge Luis Doria</li>
    </ul>
    <p>© Derechos Reservados</p>
    <p style="height:400px">
        
    </p>
</div>
    <div data-role="footer" class="footer">
    <a href="#planifica" class="btn_footer"> <img class="iconsFooter" src="images/iconPlaner.png"></a>    
    <a href="#listado_rutas"class="btn_footer"> <img class="iconsFooter" src="images/iconRoute.png"></a>
    <a href="#listado_estaciones" class="btn_footer"> <img class="iconsFooter" src="images/House.png"></a>    
    <a href="#mapa"class="btn_footer"> <img class="iconsFooter" src="images/iconMap.png"></a>
</div>