<div class="field-content">
   
</div>
<div data-role="header">
    <h1>Mapa</h1>
</div>

<div role="main" class="content ui-content " id="mapa_content">
    
</div>
<div data-role="footer" class="footer">
    <a href="#planifica" class="btn_footer"> <img class="iconsFooter" src="images/iconPlaner.png"></a>    
    <a href="#listado_rutas"class="btn_footer"> <img class="iconsFooter" src="images/iconRoute.png"></a>
    <a href="#listado_estaciones" class="btn_footer"> <img class="iconsFooter" src="images/House.png"></a>    
    <a href="#mapa"class="btn_footer"> <img class="iconsFooter" src="images/iconMap.png"></a>

</div>
