<div class="uheader" data-role="header" >
    <a class="ui-btn ui-btn-b    ui-corner-all ui-icon-arrow-l ui-btn-icon-notext ui-shadow-icon atras"  data-direction="reverse">Plus</a>
    <h1> Rutas </h1>
</div>
<div id="enrutador">
    <div id="origen_planificador" class="estacion"></div>
    <div id="destino_planificador" class="estacion" ></div>
    <!-- <div id="horario_planificador" style="color:black">7:42 pm <div>Lunes-Viernes</div>    </div>     -->
</div>
    


<div id="contenedor_recorridos">
<!--     <div class="recorrido">
         <div class="ruta_troncal">B1</div>
         
         <table class="tranbordo_peatonal" >
            
          <tr>
            <td rowspan="2" width="30%">Transbordo peatonal</td>
            
            <td class="transbordo_row" width="50%">DE: <span>Pedro Ramaya</span>  </td>
            
          </tr>
          <tr>
            
            <td class="transbordo_row" widht=540%">A: <span>Tv 14 sur con calle 45H</span></td>
          </tr>
        </table>
       
        <div class="ruta_troncal">S1</div>
        <div class="tiempo_recorrido">45 min</div> 
    </div>
    <div class="recorrido">
         <div class="ruta_troncal">B1</div>
        <div class="estacion_transbordo">Transbordo:<strong >Tv 14 sur con calle 45H</strong></div>
        <div class="ruta_troncal">S1</div>
        <div class="tiempo_recorrido">45 min</div> 
    </div>
    
    <div height="40px">
        
        asdfadsfadsfadsfds

    </div>


 -->    
 </div>
<div data-role="footer" class="footer">
    <a href="#planifica" class="btn_footer"> <img class="iconsFooter" src="images/iconPlaner.png"></a>    
    <a href="#listado_rutas"class="btn_footer"> <img class="iconsFooter" src="images/iconRoute.png"></a>
    <a href="#listado_estaciones" class="btn_footer"> <img class="iconsFooter" src="images/House.png"></a>    
    <a href="#mapa"class="btn_footer"> <img class="iconsFooter" src="images/iconMap.png"></a>
</div>
